# Django
*.log
*.pot
*.pyc
*.pyo
__pycache__/
db.sqlite3
*.sqlite3
/static/
*.env

# VSCode
.vscode/

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
*.pyenv
*.pylintrc
*.coverage
*.tox
*.nox
*.hypothesis
*.coverage
*.mypy_cache/
*.dmypy.json
*.idea/

# System files
.DS_Store
Thumbs.db
